// Memorycard classes
// General plate to hold game
.memorycard__plate {
  width: 360px;
  min-width: 360px;
  min-height: 360px;
  height: 360px;
  background-color: brown;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
// Cell for components
.memorycard__cell {
  width: 80px;
  height: 80px;
  background-color: antiquewhite;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  user-select: none;
}
.memorycard__cell:hover {
  background-color: #e4d3bc;
}